@media only screen and (max-width: 600px) {
  body {
    padding: 0;
  }
  header{
    padding: 0;
  }

  .curriculum, .stories {
    padding: 0 17px;
  }
  main > :first-child {
    padding: 17px;
  }
  .logo-name {
    display: none;
  }
  .navigate nav,
  .contact-btn {
    display: none;
  }
  .navigate-menu > i {
    display: block;
  }
  .navigate {
    padding: 1rem 1.5rem;
    border-bottom: 2px solid orange;
  }
  .banner {
    flex-direction: column-reverse;
    padding: 0 1rem;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-description {
    font-size: 1rem;
    margin: 1.5rem 0;
  }
  .banner-content {
    text-align: center;
  }
  .enroll-btn {
    background-color: black;
    color: #fff;
  }
  /* main {
    padding: 0 17px;
  } */

  .section-title {
    font-size: 32px;
  }
  .grade{
    font-size: 20px;
  }
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .slide {
    display: none;
  }
  .footer-section {
    flex-direction: column;
    gap: 45px;
    padding: 45px 20px;
  }
  .footer-description {
    margin-top: 16px;
    width: 100%;
  }
  .social-media img {
    width: 10%;
  }

  .stories-description {
    padding: 0 10px 32px 20px;
  }
  .stories-container .box-1{
      display: none;
  }
  .stories-container{
    grid-template-columns: repeat(2, 1fr);

  }
  .view-btn{
    margin-top: -20px;
    margin-bottom: 40px;
    border: none;
  }
}
@media only screen and (min-width: 601px) and (max-width: 991px) {
  body {
    padding: 0;
  }
  header{
    padding: 0;
  }
  .curriculum, .stories {
    padding: 0 17px;
  }
  main > :first-child {
    padding: 17px;
  }
  
  .navigate nav,
  .contact-btn {
    display: none;
  }
  .navigate-menu > i {
    display: block;
  }
  .navigate {
    padding: 1rem 1.5rem;
    border-bottom: 2px solid orange;
  }
  .banner {
    padding: 0 1rem;
    flex-direction: column-reverse;
  }
  .banner img {
    width: 80%;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-description {
    font-size: 1rem;
    margin: 1.5rem 0;
  }
  .banner-content {
    text-align: center;
  }
  .enroll-btn {
    background-color: black;
    color: #fff;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .slide {
    display: none;
  }
  .footer-section {
    flex-direction: column;
    gap: 45px;
    padding: 45px 20px;
  }
  .footer-description {
    margin-top: 16px;
    width: 100%;
  }
  .social-media img {
    width: 10%;
  }
  
  .stories-container .box-1{
    display: none;
}
.stories-container{
  grid-template-columns: repeat(2, 1fr);

}
.view-btn{
  margin-top: -20px;
  margin-bottom: 40px;
  border: none;
}
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
  header{
    padding: 40px 70px;
  }
  .footer-section{
    padding: 70px;
  }
  .stories-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 19px;
    margin: 80px 0;
    text-align: start;
  }
  .box-1{
    grid-column: span 2;
    grid-row: span 2;
  }

}
