@media only screen and (max-width:600px) {
    body{
        padding: 0;
    }
    .logo-name{
        display: none;
    }
    .navigate nav,.contact-btn{
        display: none;
    }
    .navigate-menu > i{
        display: block;
    }
    .navigate{
        padding: 1rem 1.5rem;
        border-bottom: 2px solid orange;
    }
    .banner{
        flex-direction: column-reverse;
        padding: 0 1rem;
    }
    .banner-title {
        font-size: 2rem;
      }
      .banner-description{
          font-size: 1rem;
          margin: 1.5rem 0;
      }
      .banner-content{
        text-align: center;
      }
      main{
        padding: 0 17px;
      }
      .card-container {
        grid-template-columns: repeat(1, 1fr);
      }
      .slide{
        display: none;
      }
}
@media only screen and (min-width:601px) and (max-width:991px) {
    body{
        padding: 0;
    }
    main{
        padding: 0 17px;
    }
    .navigate nav,.contact-btn{
        display: none;
    }
    .navigate-menu > i{
        display: block;
    }
    .navigate{
        padding: 1rem 1.5rem;
        border-bottom: 2px solid orange;
    }
    .banner{
        padding: 0 1rem;
        flex-direction: column-reverse;
    }
    .banner img{
        width: 80%;
    }
    .banner-title {
        font-size: 2rem;
      }
      .banner-description{
          font-size: 1rem;
          margin: 1.5rem 0;
      }
      .banner-content{
        text-align: center;
        
      }
      .enroll-btn{
        background-color: black;
        color: #fff;
      }
      .card-container {
        grid-template-columns: repeat(2, 1fr);
      }
      .slide{
        display: none;
      }
}

@media only screen and (min-width:992px) and (max-width:1199px){
    body{
        padding: 1rem;
    }
}